#titleHeading {
  font-size: 40px;
  color: blue;
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#header {
  display: flex;
  justify-content: center;
}

#galleryDiv {
  display: grid;
  grid-template-columns: repeat(3, 500px);
}

.img {
  width: 80%;
  height: 70%;
}

#rollingText {
  white-space: nowrap;
  overflow: hidden;
  animation: scrollText 15s linear infinite;
}

@keyframes scrollText {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}
